<h1 class="pb-4">About Us</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <!-- <li class="breadcrumb-item"><a href="/about">Categories</a></li> -->
      <!-- <li class="breadcrumb-item"><a href="/categories">Categories</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
  </nav>



  <div class="row">
    <div class="col-sm-6">
      <h5><br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbspCooking healthy can be a challenge for many seniors. Part of the struggle is finding good recipes that are easy to fix and fit into 
        your healthy eating plan, whatever that may be. Whether you need low carb, sugar free, gluten-free or just something that consists of 
        eating clean, unprocessed foods, we've got a roundup of the best healthy recipes.
        We are introducing a healthy and easy way of cooking which can bring a change in your lifestyle. 
        Let food be thy medicine, thus medicine shall be the food.
        One can also share their healthy recipes in this website where thousands of people can view your recipes and try out.
      </h5>
  </div>
  <div class="col-sm-6">
        <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg?w=1575" class="img-fluid img-responsive" width="80%">
  </div>
  </div>
