<h1 class="pb-4">Articles</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
     
      <li class="breadcrumb-item active" aria-current="page">Articles</li>
    </ol>
  </nav><br>

<!-- 1-------------------------------------------------------------------------------------------------------------------------------------- -->
  
  <div class="row">
    <div class="col-sm-6">
      <h2>Protein</h2><br>
      <h5>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp	Obtaining adequate levels of protein is achievable when consuming a varied plant-based diet. Supplementation isn't necessary, as having a variety of different plant proteins and adequate overall energy intake is usually enough.
        	The average adult who exercises recreationally needs at least 0.8 g - 1.0 g of protein per kg body weight. Requirements can vary for different populations, especially differ for children, the elderly, pregnant individuals, and higher intensity athletes.<br>
          &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp	Elite endurance and strength athletes require higher levels of protein, at about 1.2 g - 2.0 g per kg of body weight. It's still possible at these ranges to obtain sufficient protein from food sources first, before supplements. 
        	The best plant-based sources of protein include legumes and grain products such as tofu, tempeh, edamame beans, lentils, peas, beans, quinoa, and buckwheat. <br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp Other great sources include nuts, seeds, soy milk, and soy yogurt.  Aim to choose whole plant foods over processed vegan substitutes if possible, as these may contain higher levels of sodium and saturated fat.<br>
        	Focus on obtaining protein from food first, before turning to supplements.  
        
         </h5>
  </div>
  <div class="col-sm-6"><br><br><br>
        <img src="/uploads/article1.jpg" class="img-fluid img-responsive" width="80%">
  </div>
  </div><br>
<hr><br>

  <!-- 2-------------------------------------------------------------------------------------------------------------------------------------- -->
  
  <div class="row">
    <div class="col-sm-6">
      <h2>Why You're Always Tired!!!</h2><br>
      <h5><br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp	We have a natural internal clock: our circadian rhythm describes the cycle of changes the body goes through that repeats every day. It influences our sleep-wake patterns and may be impacted by light and dietary patterns. 
        Consuming a variety of plant-based foods: including fruits, vegetables, whole grains, legumes, nuts, and seeds has been associated with better sleep quality.
        <br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbspThe plate method: is one tool to support nutritionally balanced meals and may help us feel energized throughout the day. 
        Other food choices may promote better quality sleep or energy: such as enjoying breakfast, limiting caffeine, excess salt or alcohol, staying hydrated, and considering smaller nutrient deficiencies. 
        Lifestyle strategies can also help: such as setting a sleep schedule, limiting blue light before bed, associating the bedroom with sleep, and reducing naps as able. 
        </h5>
  </div>
  <div class="col-sm-6"><br><br><br>
        <img src="/uploads/article2.jpg" class="img-fluid img-responsive" width="80%">
  </div>
  </div>
<br><hr><br>

  
  <!-- 3-------------------------------------------------------------------------------------------------------------------------------------- -->
  
  <div class="row">
    <div class="col-sm-6">
      <h2>Organic vs. Conventional</h2>
       <h2> what's the best choice?</h2><br>
      <h5><br>ORGANIC: these foods are grown without the use of human-made fertilizers, pesticides, growth hormones, and antibiotics. Depending on which country we live in, organic may also mean free of genetically modified organisms. 
        It's important to note that organic farming doesn't necessarily mean it's completely free of these. Many of us may think that organic means grown without pesticides which isn't necessarily the case. There are certain 
        substances that are approved for use on organic crops which may include more natural pesticides. Searching for a country's policies around organic practices is a great place to start to learn more.
        <br>CONVENTIONAL: these foods are grown using one or more practices mentioned above, such as human-made fertilizers, pesticides, growth hormones, and antibiotics. Conventional produce typically lasts longer than organic produce.<br>
      	&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbspChoosing organic or conventional is ultimately a personal choice. Both organic and conventional offer the same level of nutrient density. Our budget and environmental outlook may be things to keep in mind when making a decision.
        	It's important to consume fruits and vegetables in abundance, regardless of whether it's organic or conventional. If we only have access to conventional produce but are looking for organic produce, it's better to have these 
        conventional foods than to not have them at all. 
        	Wash produce well. Consider washing and scrubbing in cold water with baking soda, salt or vinegar solutions for 1-2 minutes to get some of the surface chemicals off.
        
         </h5>
  </div>
  <div class="col-sm-6"><br><br><br><br><br><br><br><br><br>
        <img src="/uploads/article3.jpg" class="img-fluid img-responsive" width="90%">
  </div>
  </div>
  <br><hr><br>


  
  <!-- 4-------------------------------------------------------------------------------------------------------------------------------------- -->
  
  <div class="row">
    <div class="col-sm-6">
      <h2>How to Gain Weight</h2><br>
      <h5><br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp	Increase food intake gradually. Start with adding one suggestion from above and gradually adding a few more. 
        	Choose more energy-dense foods. Examples include nuts, seeds, avocados, granola, and dairy alternatives. We can stock up of the items that are most enjoyed and satisfying. 
        <br>	&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp Pack the energy into beverages. Consider milk, juice, and smoothies when possible, in addition to water
        	Seek professional help when needed. Whether it's a physician or a local dietitian, they'll be able to provide individualized information and follow up on a more ongoing basis. 
         </h5>
  </div>
  <div class="col-sm-6"><br><br>
        <img src="/uploads/article4.jpg" class="img-fluid img-responsive" width="80%">
  </div>
  </div>
  <br><hr><br>


  
  <!-- 5-------------------------------------------------------------------------------------------------------------------------------------- -->
  
  <div class="row">
    <div class="col-sm-6">
      <h2>Bone Health
        introduction & osteoporosis
        </h2><br>
      <h5><br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp	Osteoporosis is known as a "silent thief," meaning that it cannot be felt unless a fracture has already occurred.
        	Osteoporosis is a mobility-limiting and life-altering condition. Although there are numerous non-modifiable risk factors (eg. heredity, gender, age), there's a large number of modifiable risk factors (eg. dietary choices, supplementation if needed, smoking cessation, and physical activity).
          <br>&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp&nbsp	It's never too early to start preventing osteoporosis. Even if you don’t have osteoporosis and are not at high risk, the dietary interventions discussed in the following articles remain beneficial. 
        </h5>
  </div>
  <div class="col-sm-6"><br><br><br>
        <img src="/uploads/article5.jpg" class="img-fluid img-responsive" width="70%">
  </div>
  </div>
  <br><hr><br>