<h1 class="pb-4">Contact Us</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>
  <br>

  
  <div class="row">
    <div class="col-sm-6">  
  <h2>HealthyFood.com Customer Support:</h2>
  <h5>For website assistance or questions, please visit: <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://mail.google.com/">healthyfood.com/help</a></p></h5>
  <br>
  <h2>How to Contact Us:</h2>
  <h5>To send questions or feedback, please e-mail to 
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://mail.google.com/">nmit@healthyfood.com</a></p></h5>
      <br>
      <h2>Stay connected with us:</h2>
      <div class ="contacts">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="#" class="fa fa-phone fa-lg"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="https://www.facebook.com" class="fa fa-facebook v" class="contacts-xxxlarge" ></a>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="https://www.twitter.com" class="fa fa-twitter"></a>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>    
      </div>
  </div>
  <div class="col-sm-6">
        <img src="/img/contactus.jpeg" class="img-fluid img-responsive" width="80%">
  </div>
  </div>